.gLogout1{
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: inherit;  
    float: right;
    display: inline-block;
    color: white;
}

.hide {
    display: none;
}

.display_content {
    display: block;
}
.addBut{
    float: right;
}